h1{
    font-size: 30px;
    font: caption;
    text-align: left;
    text-decoration: black;
}
    




table,td{

    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
 }