#elefante{
    position: relative;
    top: 38px;
    right: 118px;
}
#mono{
    position: relative;
    top: 69px;
    right: 207px;   

}
#mono:hover{
    position: relative;
    top: 82px;
    right: 107px;   
     
}
#tiger{
    position: relative;   
    top: 105px;
    right: 284px;
}

#timon{
    position: relative;   
    top: 135px;
    right: 348px;

}
#hola{
    background-image: url(../relative/banner.jpeg);
    height: 113px;
    position: relative;
    top: 143px;
    left: 30px;
}

