.verde
{
    background-color: green;
}

.rojo
{
    background-color: red;
}
.rosa{
    background-color: deeppink;
}
.naranja{
    background-color: darksalmon;
}
.azul{
    background-color: blue;
}
.todo{
    padding: 0%;
}