div{
    border: 2px dotted blue;
    width: 40%;
    
}
#imatge{
    border: 2px solid red;
    width: 50%;
    
}
#imatge{
    float: left;
}
/*
.cuadro1{
    float: right;
}
.cuadro2{
    float: left;
}
.cuadro3{
    float: right;
}

.cuadro4{
    float: left;
}
.cuadro5{
    float: right;
}
*/
