#primerdiv{
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
#goku1{
    grid-column-start: 3;
}
#tit{
    grid-column: 3/6;
}
#div2{
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
#termina{
    grid-column-start: 3;
    grid-column-end: 4;
}
#div3{
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
#endspan{
    grid-column-end: span 2;

}
#div4{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
#diez{
    grid-column: 4 / 6;

}
#div5{
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
#termina3{
    grid-row-start: 3;
    grid-column-start: 2;

}
#view1{
    grid-row-start: 3;
    grid-column-start: 2;
}
#div6{
    display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
#kinton{
    order: 5;
    grid-row-start: 2;
    grid-column-start: 2;
}
#goku3{
    order: 5;
    grid-row-start: 2;
    grid-column-start: 2;
    opacity: 0.5;
}
#div7{
    display: grid;
    grid-template-columns: 30% 0% 70% 0% 0%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
#vegeta{

    grid-column: 1;
    grid-row: 3;
}
#goku4{

    grid-row: 3;
}
